src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" version="EE-3.4.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="test-without-modifying-payload">
        <logger message="#[payload]" level="INFO" />
    </flow>

    <flow name="test-maps-as-beans">
        <set-payload value="#[flowVars.aMapKey]|#[payload.anotherMapKey]"/>
    </flow>
    
    <flow name="test-pojo-as-bean">
        <set-payload value="#[payload]"/>
    </flow>

    <flow name="test-exception">
        <set-payload value="#[payload.get('newKey').toString()]" />
    </flow>
</mule>
