src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
        version="EE-3.4.1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="cat-foo-and-payload">
        <set-payload value="#[flowVars.foo + payload]"/>
    </flow>

    <flow name="echo-payload">
        <set-payload value="#[payload]" />
    </flow>

    <flow name="echo-foo">
        <set-payload value="foo" />
    </flow>

</mule>
